
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.panel_general_l{
  background: rgb(161, 176, 184);
  height: 200px;
  padding: 25px;
}

#boton_inicio_toggle{
  height: 100px;
  width: 300px;
  font-size: 40px;
}
